examples/How to use.json
[
    {
        "id": "15d75fd54c8072af",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b18f3191c7ee050a",
        "type": "awtrix3-set",
        "z": "15d75fd54c8072af",
        "name": "",
        "command": "indicator",
        "power": "true",
        "sleep": "10",
        "sound": "beep",
        "rtttl": "two_short:d=4,o=5,b=100:16e6,16e6",
        "moodlight": "{\"brightness\":170,\"color\":\"#FF00FF\"}",
        "indicator": "2",
        "indicator_color": "#FF0000",
        "settings": "{\"WD\":true,\"TIME_COL\":[255,255,255],\"TCOL\":[255,255,255],\"TMODE\":1,\"ABRI\":true,\"ATRANS\":true}",
        "device": "c7fee2e59a07564e",
        "x": 280,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "411b95d1a1363456",
        "type": "inject",
        "z": "15d75fd54c8072af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "b18f3191c7ee050a"
            ]
        ]
    },
    {
        "id": "39961376d55bb433",
        "type": "awtrix3-set",
        "z": "15d75fd54c8072af",
        "name": "",
        "command": "settings",
        "power": "true",
        "sleep": "1000",
        "sound": "beep",
        "rtttl": "two_short:d=4,o=5,b=100:16e6,16e6",
        "moodlight": "{\"brightness\":170,\"color\":\"#FF00FF\"}",
        "indicator": "1",
        "indicator_color": "#FF0000",
        "settings": "{\"WD\":false,\"TIME_COL\":[255,0,0],\"TCOL\":[255,0,0],\"TMODE\":0,\"BRI\":1,\"ABRI\":false,\"ATRANS\":false}",
        "device": "c7fee2e59a07564e",
        "x": 280,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "90d6c00fae07e101",
        "type": "inject",
        "z": "15d75fd54c8072af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "39961376d55bb433"
            ]
        ]
    },
    {
        "id": "763ae1564650cfce",
        "type": "awtrix3-notify",
        "z": "15d75fd54c8072af",
        "name": "",
        "icon": "https://developer.lametric.com/content/apps/icon_thumbs/19369",
        "text": "Hello World!",
        "options": "{\"rtttl\":\"two_short:d=4,o=5,b=100:16e6,16e6\",\"duration\":10}",
        "device": "c7fee2e59a07564e",
        "x": 300,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e4c03c99ac0ae4a9",
        "type": "awtrix3-app",
        "z": "15d75fd54c8072af",
        "name": "my-first-app",
        "application": "{\"icon\":\"https://developer.lametric.com/content/apps/icon_thumbs/30960\",\"text\":\"Hello, ${msg.value}, this is first AWTRIX 3 application!\",\"rainbow\":true,\"duration\":10}",
        "device": "c7fee2e59a07564e",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "d7f2320e8a3c7c83"
            ]
        ]
    },
    {
        "id": "ab066211e6556d76",
        "type": "inject",
        "z": "15d75fd54c8072af",
        "name": "notify",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"rainbow\":true,\"hold\":true}",
        "payloadType": "json",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "763ae1564650cfce"
            ]
        ]
    },
    {
        "id": "33085daf0c51052b",
        "type": "awtrix3-notify",
        "z": "15d75fd54c8072af",
        "name": "",
        "icon": "",
        "text": "",
        "options": "{}",
        "device": "c7fee2e59a07564e",
        "x": 300,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5a38d7c3e1ce08a8",
        "type": "inject",
        "z": "15d75fd54c8072af",
        "name": "notify dismiss",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "33085daf0c51052b"
            ]
        ]
    },
    {
        "id": "59bf997073017444",
        "type": "inject",
        "z": "15d75fd54c8072af",
        "name": "create app",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "value",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "e4c03c99ac0ae4a9"
            ]
        ]
    },
    {
        "id": "5d051ce8f825f2aa",
        "type": "inject",
        "z": "15d75fd54c8072af",
        "name": "remove app",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "ebaf420b65c88549"
            ]
        ]
    },
    {
        "id": "ebaf420b65c88549",
        "type": "awtrix3-app",
        "z": "15d75fd54c8072af",
        "name": "my-first-app",
        "application": "{}",
        "device": "c7fee2e59a07564e",
        "x": 290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d7f2320e8a3c7c83",
        "type": "debug",
        "z": "15d75fd54c8072af",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "e8c85ac56162d72d",
        "type": "inject",
        "z": "15d75fd54c8072af",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "524ad7d5d99604af"
            ]
        ]
    },
    {
        "id": "524ad7d5d99604af",
        "type": "function",
        "z": "15d75fd54c8072af",
        "name": "get solar power (emulate)",
        "func": "msg.payload = Math.floor(Math.random() * 10);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "c84309b079718e97"
            ]
        ]
    },
    {
        "id": "ead904683d6f9665",
        "type": "inject",
        "z": "15d75fd54c8072af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "indicator2",
        "payload": "{\"color\":\"#000000\"}",
        "payloadType": "json",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "8d7ecb49fd3bbbe3"
            ]
        ]
    },
    {
        "id": "8d7ecb49fd3bbbe3",
        "type": "awtrix3-set",
        "z": "15d75fd54c8072af",
        "name": "",
        "command": "msg.topic",
        "power": "true",
        "sleep": "10",
        "sound": "beep",
        "rtttl": "two_short:d=4,o=5,b=100:16e6,16e6",
        "moodlight": "{\"brightness\":170,\"color\":\"#FF00FF\"}",
        "indicator": "2",
        "indicator_color": "#FF0000",
        "settings": "{\"WD\":true,\"TIME_COL\":[255,255,255],\"TCOL\":[255,255,255],\"TMODE\":1,\"ABRI\":true,\"ATRANS\":true}",
        "device": "c7fee2e59a07564e",
        "x": 380,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c84309b079718e97",
        "type": "awtrix3-app",
        "z": "15d75fd54c8072af",
        "name": "my-first-app",
        "application": "{\"pos\":18,\"icon\":\"https://developer.lametric.com/content/apps/icon_thumbs/30960\",\"rainbow\":true,\"text\":\"Solar power: {{msg.payload}}kW\",\"pushIcon\":2,\"duration\":10,\"scrollSpeed\":45}",
        "device": "c7fee2e59a07564e",
        "x": 570,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5fe9eb60d3ad8981",
        "type": "inject",
        "z": "15d75fd54c8072af",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "38c592b8230bd1c5"
            ]
        ]
    },
    {
        "id": "38c592b8230bd1c5",
        "type": "awtrix3-app",
        "z": "15d75fd54c8072af",
        "name": "my-first-app",
        "application": "{}",
        "device": "c7fee2e59a07564e",
        "x": 290,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c7fee2e59a07564e",
        "type": "awtrix3-config",
        "name": "test",
        "ipaddress": "192.168.88.33"
    }
]